name: Compilar ROM Moto E5 Play

on:
  workflow_dispatch: # Esto es para que tú inicies la compilación con un botón

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Maximizar espacio en disco
      uses: easimon/maximize-build-space@master
      with:
        root-reserve-mb: 1024
        swap-size-mb: 8192
        remove-dotnet: 'true'
        remove-android: 'true'
        remove-haskell: 'true'

    - name: Instalar dependencias
      run: |
        sudo apt update
        sudo apt install git-core gnupg flex bison build-essential zip curl zlib1g-dev libc6-dev-i386 x11proto-core-dev libx11-dev lib32z1-dev libgl1-mesa-dev libxml2-utils xsltproc unzip fontconfig python3 bc ccache -y

    - name: Instalar repo
      run: |
        mkdir -p ~/bin
        curl https://storage.googleapis.com/git-repo-downloads/repo > ~/bin/repo
        chmod a+x ~/bin/repo
        sudo cp ~/bin/repo /usr/local/bin/repo

    - name: Configurar Git
      run: |
        git config --global user.email "tu_correo@github.com"
        git config --global user.name "Tu Nombre"

    - name: Descargar código fuente (Shallow Sync)
      run: |
        mkdir -p ~/rom_source
        cd ~/rom_source
        repo init -u https://github.com/ForkLineageOS/android.git -b lineage-17.1 --depth=1
        
        # Aquí es donde sincronizamos el código ahorrando espacio a muerte
        repo sync -c -j$(nproc --all) --force-sync --no-clone-bundle --no-tags

    # FALTAN LOS PASOS DEL DEVICE TREE Y COMPILACIÓN (Lee abajo)
